#numba1 {
	color: #bcbbbb;
	text-transform: uppercase;
	border-bottom: 2px solid #bcbbbb;
	margin: 0px 40px 0px 40px;
	max-width: 800px;
	display: block;
} 

ul
{
	list-style-type: none;
}

.header .col-sm-9 {
	display: inline;
}

.header h4 {
	float: right;
}

.header h1 {
	float: right;
}

.header .container .row {
	display: inline;
	font-weight: 100;
	font-size: 50px;
	color: #bcbbbb;
	text-transform: uppercase;
	font-size: 11px;
}

.header .container .row div
{
	float: right;
	right: 0px;
}

.header .container .row .col-sm-3
{
	float: left;
	max-width: 150px;
	max-height: 150px;
}

.header .container .row .col-sm-12
{
	float: left;
	height: 100%;
	width: 100%;
}



.col-md-12 {
	display: block;
	margin: 20px 40px 0px 40px;
}

.featured-work .container {
	background-color: #ffffff;
	border-bottom:1px solid #dbdbdb;
	display: block;
	color: #BCBBBB;
	font-size: 24px;
}

.featured-work .container .row h3 {
	color: #747704;
	text-transform: uppercase;
}

