#numba1 {
	color: #bcbbbb;
	text-transform: uppercase;
	border-bottom: 2px solid #bcbbbb;
	margin: 0px 40px 20px 40px;
	max-width: 800px;
	display: block;

} 

ul
{
	list-style-type: none;
}

.header .col-sm-9 {
	display: inline;
}

.header h4 {
	float: right;
}

.header h1 {
	float: right;
}


.header .container .row div
{
	float: right;
	right: 0px;
}

.header .container .row .col-sm-3
{
	float: left;
	max-width: 150px;
	max-height: 150px;
}

#numba2
{
	right: auto;
	left: auto;
	min-height: 400px;
	min-width: 600px;
	margin: 10px 40px 0px 40px;
}

.featured-work .container {
	background-color: #ffffff;
	border-bottom:1px solid #dbdbdb;
	display: block;
	color: #BCBBBB;
	font-size: 24px;
}

.featured-work .container .row h3 {
	color: #747704;
	text-transform: uppercase;
	right: auto;
	left: auto;
}

